{
  "semi": true,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-svelte"],
  "svelteIndentScriptAndStyle": true,
  "svelteStrictMode": true,
  "svelteIndentScriptAndStyle": true,
  "svelteSingleLineHtml": true,
  "svelteAllowShorthand": true,
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteIndentScriptAndStyle": true,
  "svelteStrictMode": true
}
